.container {
  display: grid;
  grid-template-areas:
    "header header"
    "nav content"
    "footer footer";
  grid-template-columns: 200px 1fr;
  grid-template-rows: 60px 1fr 40px;
  height: 100vh;
}

header { 
  grid-area: header; 
  background: #007bff; 
  color: #fff; 
  text-align: center; 
  height: 60px;
}
nav { 
  grid-area: nav; 
  background: #f2f2f2; 
  padding: 10px; 
}
.content { 
  grid-area: content; 
  padding: 20px; 
}
footer { 
  grid-area: footer; 
  text-align: center; 
  background: #000; 
  color: #fff; 
  height: 20px;
}

/*CSS untuk nav menu*/
.navbar ul {
  list-style: none;
  background: #333;
  padding: 0;
  margin: 0;
  display: flex;
}
.navbar li {
  flex: 1;
}
.navbar a {
  display: block;
  padding: 15px;
  color: white;
  text-align: center;
  text-decoration: none;
}
.navbar a:hover {
  background: #007bff;
}

/*Style untuk form Login */
.login-container {
  width: 350px;
  margin: 100px auto;
  padding: 15px;
  background: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
}
.login-container input, button {
  width: 90%;
  margin: 5px 5px 5px 5px;
  padding: 10px;
}
button {
  width: 40%;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
}
button:hover {
  background: #0056b3;
}

/*style untuk tabel */
.data-table {
  width: 50%;
  border-collapse: collapse;
}
.data-table th, .data-table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}
.data-table th {
  background: #007bff;
  color: white;
}
.data-table tr:nth-child(even) {
  background: #f2f2f2;
}
